/* 1401 - 1246 */
@media screen and (max-width: 1401px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .progress-info {
        max-width: 360px;
        padding: 20px;
    }

    .map iframe{
        width: 700px;
    }

    .footer .container {
        padding-left: 0;
    }
}

/* 1246 - 1084 */
@media screen and (max-width: 1246px) {
    .map iframe{
        width: 600px;
    }

    .achievements-title {
        font-size: 38px;
    }

    .achievements-text {
        font-size: 22px;
    }

    .achievement-block-title {
        font-size: 22px;
    }

    .achievement-block-text {
        font-size: 14px;
    }

    .progress-number {
        font-size: 68px;
    }

    .progress-text {
        font-size: 16px;
    }

    .name-company {
        font-size: 22px;
    }

    .location {
        font-size: 22px;
    }

    .footer .phone {
        font-size: 22px;
    }

    .email {
        font-size: 22px;
    }

    .time-work {
        font-size: 16px;
    }

    .progress .container {
        padding: 100px;
    }

    .comment {
        padding: 40px;
        font-size: 18px;
        line-height: 1.55;
    }

    /* price */
    table {
        width: 100%;
    }

    .price-title {
        font-size: 18px;
    }

    .price-box-title {
        font-size: 60px;
    }

    .price-info {
        font-size: 18px;
    }

    th {
        padding: 20px;
    }

    td {
        padding: 20px;
    }

    .spp {
        width: 70%;
    }

    .sp {
        max-width: none;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .header .container {
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    .header .logo {
        margin-bottom: 50px;
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-item {
        margin: 0 0 15px 0;
    }

    .menu-item:first-child {
        margin: 0 0 15px 0;
    }

    .header .phone {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .header-contact {
        margin-bottom: 30px;
    }

    .progress .container {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

/* 1084 - 1180 */
@media screen and (max-width: 1084px) {
    .map iframe{
        width: 500px;
    }

    .main {
        text-align: center;
    }

    .main-content {
        padding: 60px;
    }

    .main-info {
        max-width: 660px;
    }

    .questionnaire-info {
        max-width: 660px;
    }
}

/* 1084 - 1180 */
@media screen and (max-width: 984px) {
    .faq-btn-text {
        max-width: 500px;
    }

    .footer-info {
        padding: 40px;
    }



    .map iframe{
        width: 400px;
    }
}

/* 1084 - 1180 */
@media screen and (max-width: 830px) {
    .footer .container {
        flex-direction: column;
        padding-right: 0;
    }

    .footer-info {
        padding: 40px 20px;
    }

    .map iframe{
        width: 100vw;
    }
}

@media screen and (max-width: 675px) {
    .main-info {
        max-width: 550px;
    }

    .main-info .main-small-info {
        font-size: 30px;
        line-height: 46px;
    }

    .main-title {
        font-size: 45px;
    }

    .main-text {
        font-size: 14px;
    }


    .faq-btn-text {
        margin-right: 20px;
        font-size: 22px;
        max-width: 400px;
    }

    .faq-list-text {
        font-size: 14px;
    }

    .achievements-title {
        font-size: 30px;
    }

    .achievements-text {
        font-size: 20px;
    }

    .achievement-block-title {
        font-size: 20px;
    }

    .comment {
        padding: 20px;
        font-size: 16px;
        line-height: 1.45;
    }

    /*price*/

    .price-box-title {
        font-size: 30px;
    }

    th {
        padding: 10px;
    }

    td {
        padding: 10px;
    }
}

@media screen and (max-width: 640px) {
    .area-of-expertise-text {
        font-size: 14px;
        line-height: 1.45;
    }

    .questionnaire-form .btn button{
        width: 100%;
    }

    .registration .reg-text input {
        width: 100%;
    }

    .questionnaire-info {
        max-width: 550px;
    }

    .progress-number {
        font-size: 40px;
    }

    .progress-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .main-action .button {
        padding: 0;
        width: 100%;
    }

    .main-info {
        max-width: 450px;
    }

    .questionnaire-info {
        max-width: 450px;
    }

    .faq-btn-text {
        max-width: 350px;
    }
}

@media screen and (max-width: 500px) {

    .main-title {
        font-size: 35px;
    }

    .main-info {
        max-width: 400px;
    }

    .questionnaire-info {
        max-width: 400px;
    }


}

@media screen and (max-width: 450px) {
    .main-info {
        max-width: 320px;
    }

    .questionnaire-info {
        max-width: 320px;
    }

    .faq-btn-text {
        max-width: 300px;
    }

}