.main-content-price {
    padding: 120px 0 120px 0;
}

.main-price {
    background-image: url("../images/main.jpg");
    /*background-color: black;*/
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.area {
    padding: 70px 0 135px 0;
}

.area-title {
    font-size: 42px;
    margin-bottom: 90px;
}

.area .container {
    flex-direction: column
}

.area-variants {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-wrap: wrap;
}

.area-variant {
    margin: 15px;
    width: 230px;
    height: 150px;
    background-image: url("../images/price-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    background-blend-mode: multiply;
    background-color: rgba(18,18,18,0.6);
}

/*.area-variant svg {*/
/*    margin-top: 5px;*/
/*}*/

.price-two {
    background-image: url("../images/price-two.jpg");
}

.price-three {
    background-image: url("../images/price-three.jpg");
}

.price-four {
    background-image: url("../images/price-four.jpg");
}

.price-five {
    background-image: url("../images/price-five.jpg");
}

.price-six {
    background-image: url("../images/price-six.jpg");
}

.price-seven {
    background-image: url("../images/price-seven.jpg");
}

.price-eight {
    background-image: url("../images/price-eight.jpeg");
}

.area-variant-block a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.area-variant-text {
    /*max-width: 120px;*/
    /*margin-right: 50px;*/
    text-align: center;
}

.price-complex-info .container{
    max-width: 100%;
    display: flex;
    /*justify-content: normal;*/
    text-align: center;
    background-color: #f0f0f0;;
    color: black;
}

.complex-information {
    margin: 5%;
}

.complex-info:first-child {
    margin-bottom: 50px;
}

.complex-info-title {
    font-size: 30px;
    line-height: 1.45;
    font-family: 'OpenSans-Regular',sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.complex-info-dop-info {
    font-size: 20px;
    line-height: 1.45;
    font-family: 'OpenSans-Regular',sans-serif;
    color: #3b3b3b;
    margin-bottom: 10px;
}

/*.complex-info-title-two {*/
/*    font-size: 20px;*/
/*    line-height: 1.45;*/
/*    font-family: 'OpenSans-Regular',sans-serif;*/
/*    color: #000000;*/
/*    margin-bottom: 10px;*/
/*}*/

.complex-lists {
    /*list-style: none;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
}

.complex-list {
    margin: 5px 0;
    font-size: 20px;
    text-align: left;
    font-family: 'OpenSans-Light', sans-serif;
}

.complex-img img {
    width: 100%;
    height: 50%;
    /*width: 970px;*/
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    margin: 0;
    padding: 0;
}

/* price */

.price {
    padding: 120px 0;
}

.price .container {
    flex-direction: column;
}

.box {
    margin-bottom: 200px;
}

.box-two {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

.price-title {
    /*display: flex;*/
    /*flex-direction: row;*/
    font-family: 'OpenSans-Medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    table-layout: fixed;
    box-sizing: content-box;
}

tr {
    width: 100%;
}

th {
    width: 30%;
    padding: 30px;
    text-align: inherit;
    border-bottom: 1px solid black;
}

td {
    padding: 30px;
    width: 30%;
    border-bottom: 1px solid #d9d9d9;
}

.price-info tr:nth-child(even) {
    background-color: #eeeeee;
}


.price-info {
    /*display: flex;*/
    /*justify-content: space-between;*/
    flex-direction: column;
    vertical-align: center;
    font-size: 20px;
    font-family: 'OpenSans-Light', sans-serif;
    color: #4d4c4c;
    text-align: left;
}

.building-container {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.building-lists {
    /*list-style: none;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
}

.building-list {
    margin: 5px 0;
    font-size: 20px;
    text-align: left;
    font-family: 'OpenSans-Light', sans-serif;
}

.building-info-title {
    font-size: 30px;
    line-height: 1.45;
    font-family: 'OpenSans-Regular',sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.building-info-title-two {
    font-size: 18px;
    line-height: 1.45;
    font-family: 'OpenSans-Light',sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.building-info-title-more {
    font-size: 20px;
    line-height: 1.45;
    font-family: 'OpenSans-Regular',sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.price-box-info {
    padding-top: 20px;
    padding-bottom: 80px;
}

.price-box-more-info {
    font-family: 'OpenSans-Regular',sans-serif;
    font-size: 16px;
    padding-top: 40px;
    color: #000000;
}

.price-box-title {
    font-family: 'OpenSans-Regular',sans-serif;
    font-weight: 600;
    font-size: 41px;
    color: #000000;
}

.price-block-dop {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.price-block-dop:nth-child(even) {
    background-color: #eeeeee;
}

.price-block-dop-title {
    font-family: 'OpenSans-Medium', sans-serif;
    font-size: 30px;
}

.sp {
    width: 1200px;
}

.spp {
    width: 80%;
}

.emergency-dispatch-info {
    display: flex;
    justify-content: center;
    text-align: center;
}

.emergency-dispatch-lists {
    /*list-style: none;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
}

.emergency-dispatch-list {
    max-width: 760px;
    margin: 5px 0;
    font-size: 20px;
    text-align: left;
    font-family: 'OpenSans-Light', sans-serif;
}

/* test */

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1; /* Находится над другими элементами */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включение прокрутки, если нужно */
    background-color: rgb(0,0,0); /* Цвет фона */
    background-color: rgba(0,0,0,0.4); /* Черный с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% от верха и по центру */
    padding: 30px;
    border: 1px solid #888;
    width: 80%; /* Ширина содержимого */
    position: relative;
}

.modal-content h2 {
    padding-bottom: 20px;
}

.modal-content table {
    width: 100%;
}

.close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    top: 5px;
    right: 20px;
    transition: all .4s cubic-bezier(0.4, 0, 1, 1);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s cubic-bezier(0.4, 0, 1, 1);
}